<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <h1>ŠABLONAI</h1>
    </div>
    <div class="row">

        <div class="btn-group mr-3">
            <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
                <button class="btn btn-outline-primary" ngbDropdownToggle>Filtruoti</button>
                <div class="dropdown-menu" ngbDropdownMenu>
                    <button ngbDropdownItem>Klientas1</button>
                    <button ngbDropdownItem>Klientas2</button>
                    <button ngbDropdownItem>Klientas3</button>
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Šablonas</th>
                    <th scope="col">Veiksmas</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let template of templates">
                    <td>{{template.name}}</td>
                    <td>
                        <button class="btn btn-success" routerLink="/template">Peržiūrėti</button>
                        <button class="btn btn-danger">Ištrinti</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>