<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="col-sm-8">
        <h1>Navigacija</h1>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse col-sm-4" id="navbarNav" >
        <button type="button" class="btn btn-light" routerLink="/statistics">Statistika</button>
        <button type="button" class="btn btn-light" routerLink="/projects-list">Projektai</button>
        <button type="button" class="btn btn-light" routerLink="/templates-list">Šablonai</button>
        <button type="button" class="btn btn-success" routerLink="/login">Log out</button>
    </div>
</nav>