<div class="wrapper">
    <div id="formContent">
      <div>
        <img src="" id="icon" alt="User Icon" />
      </div>
      <form>
        <input type="text" id="login" class="fadeIn second" name="login" placeholder="user">
        <input type="text" id="password" class="fadeIn third" name="login" placeholder="password">
        <input type="submit" class="fadeIn fourth" value="Log In">
      </form>
  
    </div>
  </div>