<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <h1>PROJEKTAI</h1>
    </div>
    <div class="row">

        <div class="btn-group mr-3">
            <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
                <button class="btn btn-outline-primary" ngbDropdownToggle>Filtruoti</button>
                <div class="dropdown-menu" ngbDropdownMenu>
                    <button ngbDropdownItem>Klientas1</button>
                    <button ngbDropdownItem>Klientas2</button>
                    <button ngbDropdownItem>Klientas3</button>
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Siuntimo pradžia</th>
                    <th scope="col">Kliento el. paštas</th>
                    <th scope="col">Naudojimo šablonas</th>
                    <th scope="col">Projektas</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let project of projects">
                    <td>{{project.siuntimo_pradzia}}</td>
                    <td>{{project.kliento_el_pastas}}</td>
                    <td><a routerLink="/template">{{project.sablonas}}</a></td>
                    <td><a routerLink="/project">{{project.projektas}}</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>