<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <h1>BENDRA STATISTIKA</h1>
    </div>
    <div class="row">
        <table class="table">
            <tr>
                <th scope="row">Išsiųsta</th>
                <td>0</td>
            </tr>
            <tr>
                <th scope="row">Perskaityta</th>
                <td>0</td>
            </tr>
        </table>
    </div>
</div>